body,html{
    margin:0;
    padding: 0;
    font-family: 'Roboto';
}

.rootContainer{
padding-top: 96px;
display: flex;
justify-content: space-evenly;
max-width:1440px;
height: 960px;

}

.containerForImage{

    
    background: url(/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale\,w_1002.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    width:505px;
    height: 330px;
    
}

.containerForContent{
    width:505px;
    height: 330px; 
   
}

.title{
    font-size: 43px;
    font-weight: 700;
    line-height: 50,4px;
}

.text{
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: justify;

}

.button{
background-color: #E4C1AE ;
border-radius: 32px;
width: 128px;
height: 48px;
font-size: 16px;
font-weight: 700;
border:none;
color:#FFFFFF;
cursor: pointer;

}


.popupBackground{

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
   display: none;
    align-items: center;
    justify-content: center;
    

}

.popup-close{
    display: none;
}

.popup-open{
    display:flex;
}

.popup{
    width:920px ;
    height: 210px;
    background-color: white;
    z-index: -1;
}

.popupContent h2{
    font-size: 43px;
    font-weight: 700;
    line-height: 50.4px;
    margin-left: 90px;
}

.popupContent h3{
    font-size: 25px;
    margin-left: 90px;
}



@media(max-width: 761px){

  
    .rootContainer{
        flex-direction: column;
        overflow-x: hidden;  
        align-items: center;
    }

    .containerForContent{
        width:90%;
        padding: 10px;
       }

    .title{
       font-size: 30px;
       padding: 10px;
       }

       .text{
        font-size: 14px;
      

        }

     
    .containerForImage{
        width:90%;
      }

      .popup{
        width:350px ;
      }

      .popupContent h2{
       margin-left: 10px;
    }
    .popupContent h3{
        margin-left: 10px;
     }
    
    

}



